* {
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	font-size: 14px;
}

.fw-bold {
	font-weight: 600 !important;
}

/* Start - Carousel area styling */

.carousel-home .carousel-item-home {
	max-height: 300px;
}

.carousel-item-home img {
	object-fit: cover;
	max-height: 300px;
}

/* End - Carousel area styling */

/* Start - Card area styling */

.card-product {
	height: 270px;
}

.card-img-top-custom {
	width: 100%;
	max-height: 200px;
	min-height: 200px;
	object-fit: cover;
}

.card-product-stock {
	font-size: 12px;
	font-weight: bold;
}

.two-line-text {
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

/* End - Card area styling */

/* HIDE RADIO */
.radio-image {
	position: absolute;
	opacity: 0;
	width: 0;
	height: 0;
}

/* IMAGE STYLES */
.radio-image + img {
	cursor: pointer;
}

/* CHECKED STYLES */
.radio-image:checked + img {
	outline: 2px solid #f00;
}

.varian-image {
	float: left;
	width: 100px;
	height: 100px;
	object-fit: cover;
}

.required-label:after {
	content: " *";
	color: red;
}
